body {
    color: #2f3634;
    background-color: #498b7a;
    font-family: Oswald, "Times New Roman", serif;
    font-size: 125%;
}
header {
    text-align: center;
}
h1,h2,h3,h4,h5 {
    font-family: Josefin Sans, Impact, sans-serif;
    font-size: 325%;
    text-align: center;
    padding: 20px;
}
img {
    max-width: 100%;
}

/* Hero */

#hero, footer{
    text-align: center;
    background-color: #a15c47;
    color: white;
    padding: 20px;
    border: 15px outset #2f3634;
    border-radius: 40px;
}
#hero img {
    width: 300px;
}
#bio {
    text-align: center;
}

/* Hobbies */

#hobbies ul li:nth-child(even) {
    color:#a15c47;
}

/* Gallery*/

#gallery, #lit {
    border: 15px double #2f3634;
    border-radius: 60px;
    text-align: center;
    margin-bottom:2em;
}
#gallery hr {
    border:none;
    border-top: 15 px double #2f3634;
}

/* Article */

#lit {
    text-align:justify;
}
#lit div {
    padding:2em;
    max-width: 40rem;
    margin-left:auto;
    margin-right: auto;
}

/* Dropcaps */

#lit p:first-letter {
    color: #a15c47;
    background-color: #2f3634;
    border: 6px double wheat;
    text-shadow: 0px 0px 3 px wheat;
    float: left;
    font-size: 4em;
    margin-right: .25ex;
    padding: .1ex;
    line-height:100%;
}

#lit p {
    clear:both;
}